//navigacija//
.logo {
    display: flex;
    align-items: center;

    h1 {
        font-weight: bold;
        font-size:30px;
    }
}

#nav_wrap {
    background-color: #2A4494;
    color: #fff;

    ul {
        display:flex;
        justify-content: flex-end;
        flex-grow:1;

        li {
            list-style-type: none;
            margin:15px;

            a {
                color:#fff;
                display: block;
                padding:15px;
        
            }
        }
    }
}

@media ( max-width:780px ) {
    .logo {
        padding:15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    #nav_wrap {
        .container {
            display: block;
            padding-left: 0;
            padding-right: 0;   
        }

        ul {
            display:flex;
            justify-content: space-around;
            flex-direction: column;
            flex-grow:1;
    
            li {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                margin:0px;

                &:last-child {
                    border-bottom: 1px solid transparent ;
                }
            }  
        }
    }
}