//Grid i responsive//
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    
}

@media (min-width: 1260px ) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 960px ) {
    .container {
        max-width: 900px;
    }
}

.col {
    padding-left: 15px;
    padding-right: 15px;   
}
@media (min-width:921px) {
    .xl-1 {
        max-width: 8.333333%;
        flex: 0 0 0 8.333333%;
    }
    .xl-2 {
        max-width: 16.666666%;
        flex: 0 0 0 16.666666%;
    }
    .xl-3 {
        max-width: 25%;
        flex: 0 0 0 25%;
    }
    .xl-4 {
        max-width: 33.333333%;
        flex: 0 0 0 33.333333%;
    }
    .xl-5 {
        max-width: 41.666666%;
        flex: 0 0 0 41.666666%;
    }
    .xl-6 {
        max-width: 50%;
        flex: 0 0 0 50%;
    }
    .xl-7 {
        max-width: 58.333333%;
        flex: 0 0 0 58.333333%;
    }
    .xl-8 {
        max-width: 66.666666%;
        flex: 0 0 0 66.666666%;
    }
    .xl-9 {
        max-width: 75%;
        flex: 0 0 0 75%;
    }
    .xl-10 {
        max-width: 83.333333%;
        flex: 0 0 0 83.333333%;
    }
    .xl-11 {
        max-width: 91.666666%;
        flex: 0 0 0 91.666666%;
    }
    .xl-12 {
        max-width: 100%;
        flex: 0 0 0 100%;
    }
}
@media (min-width: 781px) and (max-width: 920px) {
    .lg-1 {
        max-width: 8.333333%;
        flex: 0 0 0 8.333333%;
    }
    .lg-2 {
        max-width: 16.666666%;
        flex: 0 0 0 16.666666%;
    }
    .lg-3 {
        max-width: 25%;
        flex: 0 0 0 25%;
    }
    .lg-4 {
        max-width: 33.333333%;
        flex: 0 0 0 33.333333%;
    }
    .lg-5 {
        max-width: 41.666666%;
        flex: 0 0 0 41.666666%;
    }
    .lg-6 {
        max-width: 50%;
        flex: 0 0 0 50%;
    }
    .lg-7 {
        max-width: 58.333333%;
        flex: 0 0 0 58.333333%;
    }
    .lg-8 {
        max-width: 66.666666%;
        flex: 0 0 0 66.666666%;
    }
    .lg-9 {
        max-width: 75%;
        flex: 0 0 0 75%;
    }
    .lg-10 {
        max-width: 83.333333%;
        flex: 0 0 0 83.333333%;
    }
    .lg-11 {
        max-width: 91.666666%;
        flex: 0 0 0 91.666666%;
    }
    .lg-12 {
        max-width: 100%;
        flex: 0 0 0 100%;
    }
}
@media (min-width: 481px) and (max-width: 780px) {
    .md-1 {
        max-width: 8.333333%;
        flex: 0 0 0 8.333333%;
    }
    .md-2 {
        max-width: 16.666666%;
        flex: 0 0 0 16.666666%;
    }
    .md-3 {
        max-width: 25%;
        flex: 0 0 0 25%;
    }
    .md-4 {
        max-width: 33.333333%;
        flex: 0 0 0 33.333333%;
    }
    .md-5 {
        max-width: 41.666666%;
        flex: 0 0 0 41.666666%;
    }
    .md-6 {
        max-width: 50%;
        flex: 0 0 0 50%;
    }
    .md-7 {
        max-width: 58.333333%;
        flex: 0 0 0 58.333333%;
    }
    .md-8 {
        max-width: 66.666666%;
        flex: 0 0 0 66.666666%;
    }
    .md-9 {
        max-width: 75%;
        flex: 0 0 0 75%;
    }
    .md-10 {
        max-width: 83.333333%;
        flex: 0 0 0 83.333333%;
    }
    .md-11 {
        max-width: 91.666666%;
        flex: 0 0 0 91.666666%;
    }
    .md-12 {
        max-width: 100%;
        flex: 0 0 0 100%;
    }
}
@media (max-width: 480px) {
    .sm-1 {
        max-width: 8.333333%;
        flex: 0 0 0 8.333333%;
    }
    .sm-2 {
        max-width: 16.666666%;
        flex: 0 0 0 16.666666%;
    }
    .sm-3 {
        max-width: 25%;
        flex: 0 0 0 25%;
    }
    .sm-4 {
        max-width: 33.333333%;
        flex: 0 0 0 33.333333%;
    }
    .sm-5 {
        max-width: 41.666666%;
        flex: 0 0 0 41.666666%;
    }
    .sm-6 {
        max-width: 50%;
        flex: 0 0 0 50%;
    }
    .sm-7 {
        max-width: 58.333333%;
        flex: 0 0 0 58.333333%;
    }
    .sm-8 {
        max-width: 66.666666%;
        flex: 0 0 0 66.666666%;
    }
    .sm-9 {
        max-width: 75%;
        flex: 0 0 0 75%;
    }
    .sm-10 {
        max-width: 83.333333%;
        flex: 0 0 0 83.333333%;
    }
    .sm-11 {
        max-width: 91.666666%;
        flex: 0 0 0 91.666666%;
    }
    .sm-12 {
        max-width: 100%;
        flex: 0 0 0 100%;
    }
}


@media (min-width: 781px) and (max-width: 920px) {
    section {
        padding-top:100px;
        padding-bottom:100px;
        
    }
}
@media (min-width: 481px) and (max-width: 780px) {
    section {
        padding-top: 80px;
        padding-bottom:80px;
       
    }
   
}
@media (max-width: 480px) {
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

