//Pomocne Klase//
.mb_30 { margin-bottom:30px; }
.ac_text { text-align: center; }
.mt_30 { margin-top:50px; }
.mt_15 { margin-top:15px; }
.ml_10 { margin-left:10px; }

.flex { display: flex; }
.wrap { flex-wrap: wrap; }
.column { flex-direction: column; }
.f-align { align-items: center; }
.just-contentc{justify-content: center;}
