
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import 'styles/global/reset';
@import 'styles/global/grid.scss';
@import 'styles/global/pomocne.scss';
@import 'styles/layout/footer';
@import 'styles/layout/nav.scss';


footer{
    background:#2A4494;
    width:100%;
}
.carusel{
    background-image: url(./images/pozadina2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    width:100%;
}
section:nth-child(odd){
    background: rgba(0,0,0,0.02);
}
section{
    padding-top:150px;
    padding-bottom:150px;
}


/*/
@media (min-width: 781px) and (max-width: 920px){
    .col{
        margin-left:50px;
    }
}
/*/
.btn{
    background: hsla(225, 56%, 37%, 1);
    background: linear-gradient(135deg, hsla(225, 56%, 37%, 1) 0%, hsla(178, 59%, 54%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(225, 56%, 37%, 1) 0%, hsla(178, 59%, 54%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(225, 56%, 37%, 1) 0%, hsla(178, 59%, 54%, 1) 100%);
    width:45%;
    height:2.6rem;
    color:white;
    font-size:15px;
    border:none;
    letter-spacing:1px;

     padding: 3px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: all 300ms ease;
}


.title,
.subtitle {
    color:#2A4494;
}
.subtitle {
    opacity: 0.6;
}
.title {
    font-size: 3em;
}
.title2{
    font-size: 1em;
}
.d_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ac_text {
    text-align: center;
}
.hov_ico:hover {
    color:#4EA5D9;
    transition: ease 0.5s;
}
.border-bottom {
    border-bottom: 1px solid white;
}

#profile_wrap {
    position: relative;
    z-index: 1;
    padding: 0 20px;
}
.box_1 {
    height: 70%;
    z-index: -1;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    border: 12px solid #2A4494;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}



.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }


textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    
    padding: 3px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: all 300ms ease;
}
@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}
@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}














 

  